@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap");

.App {
  text-align: center;
  border: 1px solid #f1f6f9;
  border-radius: 15%;
  width: 50%;
  margin: auto;
  background-color: #f4f9f9;
  min-height: 70vh;
  padding-bottom: 5%;
  font-family: "Andada Pro", serif;
}
